.ant-card-body {
  padding: 8px 16px !important;
}

.ant-table-cell {
  padding: 6px !important;
  word-break: break-all;
}

.ant-table-wrapper {
  background-color: white;
}

.ant-modal-content {
  padding-bottom: 1px !important;
}

.ant-col.ant-form-item-label {
  padding-bottom: 2px;
}

.ant-form-item {
  margin-bottom: 15px;
}

.ant-form-item-explain-error {
  font-size: 12px;
  line-height: normal;
}
