@font-face {
  font-family: 'Manrope';
  src: url('/font/Manrope.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scrollbar-width: thin;
}

#root,
body {
  width: 100% !important;
  padding: 0;
  margin: 0;
  background-color: rgb(var(--app-bg-color));
}

main {
  padding: 12px;
}

* {
  font-family: Manrope, sans-serif;
  word-break: break-all;
}

.chat {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;

    &:hover {
      background: #aaa;
    }
  }
}
