:root {
  --app-bg-color: 244, 245, 255;
  --color-primary: 23, 124, 255;
  --color-primary-bg-subtxt: 246, 249, 255;
  --color-primary-text: 255, 255, 255;
  --color-primary-border: 135, 197, 255;
  --color-primary-focused: 0, 119, 231;
  --color-primary-hover: 12, 132, 243;
  --color-primary-disabled: 0, 87, 168;
  --color-secondary: 255, 255, 255;
  --color-secondary-bg-subtxt: 224, 230, 243;
  --color-secondary-text: 30, 30, 30;
  --color-secondary-border: 236, 239, 245;
  --color-secondary-focused: 244, 244, 244;
  --color-secondary-hover: 248, 248, 248;
  --color-secondary-disabled: 218, 218, 218;
  --color-gray: 126, 128, 136;
  --color-gray-bg-subtxt: 231, 238, 244;
  --color-gray-text: 30, 30, 30;
  --color-gray-border: 211, 213, 216;
  --color-gray-focused: 106, 107, 111;
  --color-gray-hover: 116, 118, 124;
  --color-gray-disabled: 84, 84, 85;
  --color-success: 3, 203, 143;
  --color-success-bg-subtxt: 205, 255, 239;
  --color-success-text: 255, 255, 255;
  --color-success-border: 50, 205, 133;
  --color-success-focused: 0, 230, 161;
  --color-success-hover: 2, 217, 152;
  --color-success-disabled: 0, 192, 134;
  --color-warning: 254, 193, 38;
  --color-warning-bg-subtxt: 255, 246, 222;
  --color-warning-text: 255, 255, 255;
  --color-warning-border: 255, 217, 120;
  --color-warning-focused: 246, 179, 10;
  --color-warning-hover: 250, 186, 24;
  --color-warning-disabled: 210, 151, 4;
  --color-orange-warning: 255, 133, 64;
  --color-orange-warning-bg-subtxt: 253, 230, 217;
  --color-orange-warning-text: 255, 255, 255;
  --color-orange-warning-border: 255, 162, 110;
  --color-orange-warning-focused: 245, 104, 23;
  --color-orange-warning-hover: 250, 119, 44;
  --color-orange-warning-disabled: 218, 86, 9;
  --color-danger: 240, 23, 76;
  --color-danger-bg-subtxt: 250, 220, 231;
  --color-danger-text: 255, 255, 255;
  --color-danger-border: 244, 107, 144;
  --color-danger-focused: 220, 0, 55;
  --color-danger-hover: 230, 12, 66;
  --color-danger-disabled: 183, 1, 46;
  --color-info: 23, 144, 255;
  --color-info-bg-subtxt: 223, 233, 255;
  --color-info-text: 255, 255, 255;
  --color-info-border: 135, 197, 255;
  --color-info-focused: 0, 119, 231;
  --color-info-hover: 12, 132, 243;
  --color-info-disabled: 0, 87, 168;
}
